* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a{
  font-family: "나눔손글씨 나무정원";
  text-decoration: none;
  color:#000000;
  font-size: 35px;
  font-weight:bold;
}
body {
  font-family: "나눔손글씨 나무정원";
  font-size: 35px;
  color: #000000;
  background-color: #ffd375;
  text-align: center;
  background-repeat:no-repeat;
  background-position:center top;
}
#header {
  height: 135px;
  position: relative;
  /* border:solid 1px #ff0000; */
}
#logo {
  position: relative;
  top: 30px;
  left: 30px;
}
#top_menu {
  position:absolute;
  top: 40px;
  left: 250px;
}
#top_menu li {
  display: inline;
}
#main_menu {
  position: relative;
  top: 30px;
  font-size: 12px;
  color: #8ecbff;
  background-color:#005aff;
  margin-top: 15px;
  padding: 12px;
  text-align: center;
}
#main_menu li {
  padding: 0 20px 0 20px;
  display: inline;
}


h2 {
  text-align: center;
  font-family: "나눔손글씨 나무정원";
  font-size: 35px;
  color: #000000;
  font-weight:bold;
}
h3 {
  text-align: center;
  font-family: "나눔손글씨 나무정원";
  font-size: 50px;
  color: #000000;
  font-weight:bold;
  margin-bottom: 25px;
}

footer{
    background-color: #005aff;
    padding: 15px;
    color: #ffffff;
    font-family: "나눔손글씨 나무정원";
    font-size: 35px;
    margin-top: 100px;
    font-weight: bold;
}
footer li{
    float: left;
    list-style: none;
    padding: 0px 10px;
}

#footer_left li{
    border-right:solid 1px #ffffff;
    margin-top: 250px;
}
 #footer_left li:last-child{
    border: none;
}
footer ul{
    padding: 10px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
p{
  font-size: 20px;
  margin-left: 20px;
  text-align: center;
  margin-top: 50px;
}
